@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


main{
    flex-direction: column;
    font-family: Caveat, sans-serif;
}

form{
    border: 2px solid black;
    padding: .4em 2em .8em 2em;
    width: 34em;
    height: 18em;
    border-radius: 0.4em;
    background-image: linear-gradient(to bottom, #0017ff, #0026e8, #002cd1, #0030b8, #0031a0, #002e8f, #002b7f, #05286e, #052362, #041d57, #03184c, #021341);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

h1:first-of-type{
    font-weight: 650;
    font-size: 2.5em;
    margin-bottom: 0;
    color: whitesmoke;
    margin-top: 1em;
}

p:first-of-type{
    margin-top: 0.8em;
    font-size: 1.5em;
    margin-bottom: 2em;
    color: whitesmoke
}

.second_cont{
    display: flex;
    justify-content: flex-end;
}


.second_cont  >  button:first-of-type{
    border: 1px solid transparent;
    padding: 0;
    background-color: inherit;
    margin-right: 1em;
    cursor: pointer;
    font-family: Caveat, sans-serif;
    font-size: 1.6em;
    color: whitesmoke
}

.second_cont >  button:first-of-type:hover{
    color: #00C8A1;
}



button:last-of-type {
  --bg: #000;
  --hover-bg: #880808;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.6em 1.2em;
  background: var(--bg);
  transition: 0.2s;
  font-size: 1.1em;
  font-family: inherit;
}


button:last-of-type:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

button:last-of-type:active {
  transform: translate(0);
  box-shadow: none;
}
