@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


main{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-family: Caveat, sans-serif;
    justify-content: flex-start;
    align-items: center;
}

main > h1{
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 0;
}

main > p{
    font-size: 2em;
    margin-top: .5em;
    margin-bottom: 2em;
    text-align: center;
    font-weight: 600;
}


.view_jobs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.job{
        display: flex;
        background-color: #4169E1;
        justify-content: space-between;
        align-items: center;
        width: 25em;
        height: 6em;
        color: whitesmoke;
        padding: 2em;
        margin: 1em;
        border-radius: .5em;
        cursor: pointer;
        gap: 2em;
        transition: 300ms ease-in-out;

}

.job > img{
        border-radius: 50%;
}


.data{
        font-size: 1.07em;
        text-align: center;
}

.additional_data{
        display: flex;
        flex-direction: row;
        gap: 0.5em;
}

.job:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#no_posted_jobs{
    font-size: 2.5em;
    font-weight: 1000;
    text-align: center;
}

