@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Chilanka&family=Gaegu&family=Galada&family=Lily+Script+One&family=Macondo&display=swap');


main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color:whitesmoke;
    font-family: Caveat, sans-serif
}


article{
    margin-top: 2%;
}


article > h1{
    font-size: 4em;
    text-align: center;
}

article > p{
    font-size: 1.5em;
    width: 40%;
}

main > article > article{
    display: flex;
    justify-content: center;
    align-items: center;
}

.connecting_people > p{
    font-size: 2em;
}


.connecting_people > img{
    border-radius: .3em;
}