{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'Company/description_post.css' %}">

    <section>

        <article>
        <img src="{{ post.CompanyFK.CompanyImage.url }}" width="120px" height="120px" alt="Company Image">

        <article>
        <h1>Exciting Opportunity: {{ post.JobName }} Position at {{ post.CompanyFK.Name }}</h1>

        <p>
            {% if post.Seniority %}
                <strong>Position:</strong> {{ post.Seniority }}<br>
            {% endif %}
            {% if post.Location %}
                <strong>Location:</strong> {{ post.Location }}<br>
            {% endif %}
            {% if post.SalaryRange %}
                <strong>Salary Range:</strong> {{ post.SalaryRange }}<br>
            {% endif %}
        </p>
        </article>
        </article>
            
        <article class="post_description">
            {{ post.Description|safe }} 
        </article>
        
        {% if user.userprofile.moderators.id == post.Moderator_id and  user.userprofile.moderators.id != None%}
            <article class="buttons">
                <a href="{% url 'edit-post' pk=post.id %}">Edit Post</a> 
                <a href="{% url 'delete-post' pk=post.id %}">Delete Post</a> 
            </article>
            
        {% elif user.userprofile.recruiters.id == post.Recruiter_id and use.userprofile.recruiter.id != None %}
            <article class="buttons">
                <a href="{% url 'edit-post' pk=post.id %}">Edit Post</a> 
                <a href="{% url 'delete-post' pk=post.id %}">Delete Post</a> 
            </article>
            
        {% else %}
            <a href="{% url 'apply-to-post' pk=post.id %}">Apply Now!</a>
        {% endif %}


    </section>

{% endblock %}