@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Chilanka&family=Gaegu&family=Galada&family=Kalam:wght@300;400;700&family=Lily+Script+One&family=Macondo&family=Swanky+and+Moo+Moo&display=swap');

main{
    font-family: Caveat, sans-serif;
    display:flex;
    flex-direction: column;
    gap: 2em;
    justify-content: flex-start;
}

section:first-of-type{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    align-items: center;
}


.intro_text > h1{
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: center;
    font-weight: 1000;
}


.intro_text > p:first-of-type{
    width: 70%;
    font-size: 1.85em;
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 0;
    font-weight: 800;
}


.intro_text > p:last-of-type{
    width: 70%;
    font-size:1.7em;
    margin-top: 0.5em;
    text-align: center;
    font-weight: 600;
}

.company{
    cursor: pointer;
    width: 36em;
    background-color: #4169E1;
    display: flex;
    justify-content: space-evenly;
    padding: 1em .5em 1em .5em;
    color: whitesmoke;
    border-radius: .5em;
    transition: 400ms ease-in-out;
}


.company > img{
    border-radius: 50%;
}



.companies_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.5em;
    justify-content: center;
}

.company:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.details > p:first-of-type{
    text-align: center;
    font-size: 1.3em;
    font-weight: 1000;
}

.details > p:last-of-type{
    font-size: 1.25em;
    text-align: center;
    font-weight: 800;
}


.companies_cards > p{
    font-weight: 1000;
    font-size: 2.5em;
    color: whitesmoke;
}
