@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

main{
    font-family: Caveat, sans-serif;
    margin-top: 1em;
}


form{
    border: 2px solid black;
    padding: 2em;
    background-image: linear-gradient(to bottom, #0017ff, #0026e8, #002cd1, #0030b8, #0031a0, #002e8f, #002b7f, #05286e, #052362, #041d57, #03184c, #021341);
    border-radius: 0.5em;
    width: 32em;
    height: 34em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


form > h1{
    color:whitesmoke;
    margin: 0;
    font-size: 2.5em;
}

form > p:first-of-type{
    margin-top: .6em;
    color: whitesmoke;
    font-size: 1.5em;
}


form > article{
	display: flex;
	gap: 2em;
	margin-top: 2em;
}

button {
  --bg: #000;
  --hover-bg: #389CB7;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.6em 1.2em;
  background: var(--bg);
  transition: 0.2s;
  font-size: 1.25em;
  font-family: inherit;
}


button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

button:active {
  transform: translate(0);
  box-shadow: none;
}



form > p:last-of-type{
    color: whitesmoke;
    margin-top: 15%;
    font-size: 1.5em;
}

form > p > a{
    text-decoration: none;
    color: rebeccapurple;
}

form > p > a:hover{
    text-decoration: underline;
}

